/* Style sheet to display Debian LTS Security Advisories in browsers.
 * peterk at debian dot org
 */

rdf {
	margin: 0;
	padding: 0;
}

rdf, * {
	color: black;
	background: white;
	display: block;
}

channel title {
	display: block;
	font: 1.5em sans-serif;
	color: #fefefe;
	background: #df0451;
	text-align: center;
	margin: 0;
}

link, items {
	display: none;
}

channel description {
	display: block;
	font: 2em serif;
	color: black;
	background: white;
	text-decoration: underline;
	margin: 0.5em;
}

item {
	display: list-item;
	margin: 0.5em;
	color: black;
	background: white;
}

item title {
	display: inline;
	font-size: 1.5em;
	font-weight: bold;
	color: #666;
	background: white;
}

item title:after {
	content: ": ";
}

item description {
	display: inline;
	color: black;
	background: white;
}
